*{
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    display: grid;
    
    
    
    
}

nav {
    background-color:#F4DFD0;
    overflow: hidden;
    position: static;
    top: 0%;
    width: 100%;
    border-bottom: 4px solid black;
    
    
    
    

    
    

    
}

 
#top {
    font-weight: lighter;
    border-right: 4px solid black;
    margin: 0%;
    background-color: white;
    color: black;
    padding: 20px;
    float: left;
    text-align: center;
    text-decoration: none;
}


nav  div a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    float: right;
    color: black;
    
    
    
    
}


nav div a:hover{

    border-top: black solid 4px;
    
    
}

.container{
    background-color:#F4DFD0;
    padding: 5px 20px 15px 20px ;
    margin: 0 auto;
    margin-top: 2%;
    width: 50%;
    
    
    border-radius: 10px;

}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,textarea{
    width: 100%;
    padding: 12px;
    margin:0 auto;
    font-weight: lighter;
    border: none ;
    outline: none;
    border-radius: 5px;
    resize: vertical;
    
    
}

fieldset{
    background-color:#F4DFD0 ;
    padding: 2px;
    border: none;
    outline: none; 
      
}
 .main
 {
     text-align: center;
     color:black;
      
 }

 .button input

 {
     color:white;
     background-color:black;
     padding: 10px;
     border-radius: 15px;
     font-family: inherit;
     font-weight: lighter;
     outline: none;
     border: none;
     cursor: pointer;
     
 }
 .button input:hover{
     background-color: white;
     color: black;
 }

 .container p,legend{
     color: black;
     padding: 5px;
     font-weight: bold;
     margin: 5px;
     
     
 }
 